@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Sacramento&family=Poppins&display=swap');

:root {
  --mainColor: #7fbbca;
  --mainTransition: all 0.2s linear;
  --lightestColor: #fffbfb;
  --faintBlue: #fcfdfe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 79px;
}

.title-hr {
  border: none;
  border-top: 10px solid var(--mainColor);
  border-radius: 1rem;
  width: 6rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.img-container img {
  width: 100%;
}

.btn {
  border: 1px solid #333;
  padding: 1rem 4rem;
  margin: 0 auto;
  text-align: center;
  display: block;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  transition: var(--mainTransition);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #333;
  color: white;
}

.btn:hover {
  background: black;
}

@media screen and (min-width: 768px) {
  .btn.left-btn {
    margin: 0;
  }
}
